<div class="editModal modal fade">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="text-align: center">
			<div class='modal-body'>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="profile-head">
					<img ng-src="{{vm.data.photo}}"
						 style="cursor: default"
						 width="60" height="60" class='photo'>
					<div class="info"><span class='name'>{{vm.data.name}}</span></div>
					<div class='flex'>
						<div class='tag'>MEMBER FOR </div>
						<div>{{vm.data.time}}</div>
						<div class='tag'>LAST SEEN </div>
						<div>{{vm.data.lastSeen}}</div>
						<div class='tag'>ACTIVITY LEVEL </div>
						<div>
							<span ng-repeat="i in vm.getNumber(3) track by $index"
								  ng-class="($index < vm.data.activityLevel) ?
											'glyphicon glyphicon-certificate level' :
											'glyphicon glyphicon-certificate non-level'">
							</span>
						</div>
					</div>
				</div>
				<div>
					<div class="profile-title flex">
						<div class='circle-nav disactive'>
							<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
						</div>
						<div class='flex-middle'>How it all started</div>
						<div class='flex-right circle-nav active'>
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</div>
					</div>
					<div>
						<div class='profile-subtitle'>THAT'S WHERE WE HAVE BEEN THESE {{vm.data.time | uppercase}} AGO</div>
						<div class='profile-stat background-divs'>
							<div style="transform: rotate(45deg);"></div>
							<div style="transform: rotate(-20deg);"></div>
							<div style="transform: rotate(45deg);"></div>
							<div style="transform: rotate(15deg);"></div>
						</div>
						<div class='profile-stat' style="width:100%">
							<div class='profile-stat-item bold'>
								<div>{{vm.data.stat.numberOfPeers}}</div>
								<div>peers</div>
							</div>
							<div class='profile-stat-item bold'>
								<div>{{vm.data.stat.numberOfDiscussion}}</div>
								<div>discussion</div>
							</div>
							<div class='profile-stat-item bold'>
								<div>{{vm.data.stat.numberOfQuestions}}</div>
								<div>findings</div>
							</div>
							<div class='profile-stat-item bold'>
								<div>{{vm.data.stat.numberOfFindings}}</div>
								<div>questions</div>
							</div>
						</div>
					</div>
					<div>
						<div class='profile-subtitle'>WHO JOINED THE PLATFORM THAT SAME PERIOD</div>
						<div class='flex-justify-center'>
							<div ng-repeat='user in vm.data.joinedUsers'
								 class='profile-mark'>
								<div class='stripped'>
									<img ng-src="{{user.photo}}"
										 width="60" height="60" class='photo'
										 ng-click='vm.showProfile(user.id)'>
								</div>
								<div style='color: #0266bb'>{{user.name}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class='profile-subtitle'>HOTTEST DISCUSSION THESE DAYS</div>
				<div class='stripped profile-footer'>
					<img ng-src="{{vm.data.hottest.user.photo}}"
						 width="40" height="40" class="photo">
					<div class='footer-title'>
						<span class='name'
							  ng-click='vm.showProfile(vm.data.hottest.user.id)'>{{vm.data.hottest.user.name}}</span>
						<span class='info-label'>{{vm.data.hottest.label | uppercase}}</span>
					</div>
					<div class='footer-content question'>{{vm.data.hottest.question}}</div>
					<div class='footer-stat bold'>
						<div> {{vm.data.hottest.stat.numberOfPeers}} peers involved</div>
						<div> {{vm.data.hottest.stat.numberOfDiscussion}} related discussion</div>
						<div> {{vm.data.hottest.stat.numberOfConversations}} conversations</div>
						<div> {{vm.data.hottest.stat.numberOfUpvotes}} upvotes</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>