<div>
	<navigation-bar type='singleQuestion' data='vm.data'></navigation-bar>
	<div class='center-container'>
		<div class="single-question">
			<div>
				<div class='header flex'>
					<img ng-src='{{vm.data.user.photo}}'
						 ng-click='vm.showProfile(vm.data.user.id)'
						 width='60' height='60' class='photo'>
					<div>
						<div class='info'>
							<span class='name'
								  ng-click='vm.showProfile(vm.data.user.id)'>
								{{vm.data.user.name}}</span>
							<span class='info-label'>{{vm.data.label | uppercase}}:</span>
						</div>
						<div class='question'>
							{{vm.data.question}}
						</div>
					</div>
				</div>
				<div class='details-container'>
						<p>{{vm.data.content}}</p>
				</div>
				<div class='give-answer'>
					GIVE new answer
				</div>
			</div>
			<div class='edit-bar'>
				<div class='edit-bar-item header'
					 ng-click='vm.toggleFollow()'>
					{{vm.data.follow  ? 'unfollow' : 'follow'}}
				</div>
				<div class='edit-bar-item bold'>
					{{vm.data.upvotes < 0 ?
						-vm.data.upvotes + ' downvotes' :
						vm.data.upvotes + ' upvotes'}}
					<div class='arrow-bar'>
						<div class='arrow-up'
							 ng-click='vm.voteQuestion(1)'></div>
						<div class='arrow-down'
							 ng-click='vm.voteQuestion(-1)'></div>
					</div>
				</div>
			</div>
		</div>
		<div class='bold' style="text-align: center;margin-top: 50px; margin-bottom: 20px">
			{{vm.data.conversations.length}} peers already answered {{vm.data.user.name}}
		</div>

		<div class='discussion'
			 ng-repeat='conversation in vm.data.conversations'>
			<div ng-class="$index > 0 ? 'discussion-item next' : 'discussion-item'"
				 ng-repeat='conversationItem in conversation'>
				<div class='comment-photo'>
					<img ng-src="{{conversationItem.user.photo}}"
						 ng-click='vm.showProfile(conversationItem.user.id)'
						 width="60" height="60" class="photo">
				</div>
				<div class='flex-middle'>
					<div class='info'>
						<img ng-src="{{conversationItem.user.photo}}"
						 width="40" height="40" class="photo">
						<span class='name'
							  ng-click='vm.showProfile(conversationItem.user.id)'>
							{{conversationItem.user.name}}</span>
						<span class='info-label'> COMMENTED IT</span>
						<div class='inline-dot'></div>
						<span class="bold" style="font-size: 15px;color: #000000;">{{conversationItem.time}}</span>
					</div>
					<div>
						{{conversationItem.content}}
					</div>
				</div>
				<div class='vote-box'>
					{{conversationItem.upvotes < 0 ?
							-conversationItem.upvotes + ' downvotes' :
							conversationItem.upvotes + ' upvotes'}}
					<div class='arrow-bar'>
						<div class="arrow-up"
							  ng-click='vm.vote(1, conversationItem)'></div>
						<div class="arrow-down"
							  ng-click='vm.vote(-1, conversationItem)'></div>
					</div>
				</div>

			</div>
			<div class='give-answer'>
					{{conversation.length > 1 ?
					'CONTINUE discussion' :
					'COMMENT'}}
			</div>
		</div>
	</div>
</div>