<div style='width : 70%; margin: auto; height : 500px'>
	<div style="display: flex; position: relative; border: 1px solid #afafaf">
		<div style='width: 80%; background: #98d4fa; flex:1;'>
			<div class='header' style='height:100px; width: 100%;'>
				<img src='img\John.jpg' width='60' height='60' style = 'display: inline-block; border-radius: 50%; vertical-align: middle;'>
				<div style='vertical-align: middle; color: #493bf7; display: inline-block'>{{vm.name}} <span style="color:#dddddd">IS ASKED</span><br/>
				{{vm.question}}
				</div>
			</div>
			<div style="width: 85%; background-color: #ffffff; float: right; height: 200px;">
					<p>Przykładowy tekst</p>
			</div>
			<div style="position: absolute; left: 44%; bottom: -15px; background-color: white; width: 170px; border: 1px solid gray;text-align: center;padding: 5px;">
				GIVE new answer
			</div>
		</div>
		<div style = "margin-left: auto;">
			<div style='height:100px; background: #98d4fa; display: flex; align-items: center; padding-right: 10px;'>unfollow</div>
			<div style='height:200px; background: #ffffff; display: flex; align-items: center; padding-right: 10px;'>
				{{vm.upvotes}}upvotes
				<div style="position: relative; height: 30px;margin-left: 15px;">
					<div class="arrow-up"></div>
					<div class="arrow-down"></div>
				</div>
			</div>
		</div>
	</div>
	<div style="text-align: center;margin-top: 50px; margin-bottom: 20px">
		2 peers already ansvered Eva
	</div>

	<div style="
		display: inline-block;
		width: 100%;
		position: relative;
		margin-bottom: 40px;">
		<div class="header" style="width: 100%; background-color: white; display: flex; border: 1px solid #eeeeee;">
			<div style="padding : 10px; border-right: 1px solid #eeeeee;">
				<img src="img\John.jpg" width="60" height="60" style="border-radius: 50%; vertical-align: middle;">
			</div>
			<div style="padding : 10px; color: #493bf7;">
				<div>
					Eva <span style="color:#dddddd">COMMENTED IT</span>
					<div style="border-radius: 50%; background-color: #555555;
								width: 10px; height: 10px; display: inline-block;
								margin-left: 20px; margin-right: 20px;"></div>
					<span>yesterday</span>
				</div>
				<div>
					Will insulin make my patient gain weight?
				</div>
			</div>
			<div style='background: #ffffff; display: flex; align-items: center; justify-content: center; margin-left: auto; margin-right: 10px'>
				{{vm.upvotes}}upvotes
				<div style="position: relative; height: 30px;margin-left: 30px;">
					<div class="arrow-up"></div>
					<div class="arrow-down"></div>
				</div>
			</div>
		</div>
		<div class="header" style="width: 90%; background-color: white; display: flex; border: 1px solid #eeeeee; float: right">
			<div style="padding : 10px; border-right: 1px solid #eeeeee;">
				<img src="img\John.jpg" width="60" height="60" style="border-radius: 50%; vertical-align: middle;">
			</div>
			<div style="padding : 10px; color: #493bf7;">
				<div>
					Eva <span style="color:#dddddd">COMMENTED IT</span>
					<div style="border-radius: 50%; background-color: #555555;
								width: 10px; height: 10px; display: inline-block;
								margin-left: 20px; margin-right: 20px;"></div>
					<span>yesterday</span>
				</div>
				<div>
					Will insulin make my patient gain weight?
				</div>
			</div>
			<div style='background: #ffffff; display: flex; align-items: center; justify-content: center; margin-left: auto; margin-right: 10px'>
				{{vm.upvotes}}upvotes
				<div style="position: relative; height: 30px;margin-left: 30px;">
					<div class="arrow-up"></div>
					<div class="arrow-down"></div>
				</div>
			</div>
			
		</div>
		<div style="position: absolute; left: 44%; bottom: -15px; background-color: white; width: 170px; border: 1px solid gray;text-align: center;padding: 5px;">
				CONTINUE discussion
			</div>
	</div>
	
	<div style="
		display: inline-block;
		width: 100%;
		position: relative;
		margin-bottom: 40px;">
		<div class="header" style="width: 100%; background-color: white; display: flex; border: 1px solid #eeeeee;">
			<div style="padding : 10px; border-right: 1px solid #eeeeee;">
				<img src="img\John.jpg" width="60" height="60" style="border-radius: 50%; vertical-align: middle;">
			</div>
			<div style="padding : 10px; color: #493bf7;">
				<div>
					Eva <span style="color:#dddddd">COMMENTED IT</span>
					<div style="border-radius: 50%; background-color: #555555;
								width: 10px; height: 10px; display: inline-block;
								margin-left: 20px; margin-right: 20px;"></div>
					<span>yesterday</span>
				</div>
				<div>
					Will insulin make my patient gain weight?
				</div>
			</div>
			<div style='background: #ffffff; display: flex; align-items: center; justify-content: center; margin-left: auto; margin-right: 10px'>
				{{vm.upvotes}}upvotes
				<div style="position: relative; height: 30px;margin-left: 30px;">
					<div class="arrow-up"></div>
					<div class="arrow-down"></div>
				</div>
			</div>
		</div>
		<div style="position: absolute; left: 44%; bottom: -15px; background-color: white; width: 170px; border: 1px solid gray;text-align: center;padding: 5px;">
				COMMENT
		</div>
	</div>
</div>