<div class='question-summary'>
	<div>
		<div class='header flex'>
			<img ng-src='{{questionInfo.user.photo}}'
				 ng-click="vm.showProfile(questionInfo.user.id)"
				 width='60' height='60' class='photo'>
			<div>
				<div class='info'>{{questionInfo.user.name}}
					<span style="font-size:12px; color:#7d8fa0;">{{questionInfo.label | uppercase}}:</span>
				</div>
				<div class='question'
					 ng-click='vm.showQuestion()'>
					{{questionInfo.question}}
				</div>
			</div>
		</div>
		<div class='footer asked'>{{questionInfo.shortLabel | uppercase}}</div>
		<div class="details-container">
			<div class="activity more-activity"
				 ng-show='questionInfo.activities.length > vm.maxActivieties'>
				<span class='number bold'>{{questionInfo.activities.length - vm.maxActivieties}}</span>
				<div class='comment bold'>more <br/> activities</div>
				<div class='dot'></div>
			</div>

			<div ng-repeat='activity in vm.showActivities'
				 ng-class='activity.type === "ANSWERED" ? "activity answered" : "activity commented"'>
				<img ng-src='{{activity.user.photo}}'
					 ng-click="vm.showProfile(activity.user.id)"
					 width='60' height='60' class='photo'>
				<div class='footer'>{{activity.type}}</div>
				<div class='dot'></div>
			</div>

			<div class='stat'>
				<div> {{questionInfo.stat.numberOfConversations}} conversations</div>
				<div> {{questionInfo.stat.numberOfPeers}} peers involved</div>
				<div> {{questionInfo.stat.numberOfDiscussion}} related discussion</div>
			</div>
		</div>
	</div>
</div>