<div style='width : 70%; margin: auto; background-color: #fff; height : 500px'>
	<div style='height:300px; width: 70%; background: #98d4fa'>
		<div style='height:100px; width: 100%'>
			<img src='img\John.jpg' width='60' height='60' style = 'display: inline-block; border-radius: 50%; vertical-align: middle;'>
			<div style='vertical-align: middle; color: #493bf7; display: inline-block'>{{vm.name}} <span style="color:#dddddd">IS ASKED</span><br/>
			{{vm.question}}
			</div>
		</div>
		<div style="height: calc(100% - 100px)">
			<div style=" height : 100%; position: relative">
				<div style="display: inline-block; position: absolute; bottom: 5px; left: 5px; border-top: 2px solid gray;">ASKED</div>
				<div style="display: inline-block; background-color: #ffffff"></div>
			</div>
			<div>
			</div>
		</div>
	</div>
	<span style="color : red">Load more questions</span>
</div>