<div class='navigation'>
	<div>
		<div class='back-button' ng-click='vm.goBack()'>
			<span class="glyphicon glyphicon-menu-left" style="" aria-hidden="true"></span>
		</div>
	</div>

	<div class='flex-middle' style="margin-left: 100px;">
		<div class='flex' style='align-items: center'>
			<div style="font-size: 30px;font-weight: 600;">QUESTIONS</div>
			<div class='circle-nav active' style="text-align:center; margin-left: 20px;">
				<span class="glyphicon glyphicon-plus" style="top: calc(50% - 11px); font-size: 19px;" aria-hidden="true"></span>
			</div>
			<div ng-if='type === "singleQuestion"' class='flex-right' style='margin-right: 50px; font-family: Georgia, serif;font-style:italic;'>
				Last time discussed <strong>{{data.lastUpdate}}</strong>
			</div>
			<div ng-if='type === "allQuestions"' class='flex-right' style='margin-right: 50px;'>
				<div style="display: inline-block">
					<input type='radio' ng-model='displayOption.searchFollow.follow' ng-value='true'> My shelf
					<input type='radio' ng-model='displayOption.searchFollow.follow' ng-value=''> All questions
				</div>
				<div style="display:inline-block">
					Sort by: <span
								   ng-click="displayOption.orderPredicate='-activities.length'">recent</span> or
					<span ng-click="displayOption.orderPredicate='-lastUpdate'">hot</span>
				</div>
			</div>
		</div>
		<div ng-if='type === "allQuestions"'
			 class='flex' style='align-items: center'>
			<div><input type='text'
						ng-if='!vm.searchTopics'
						ng-model='displayOption.searchTag'
						placeholder='Search'>
				<input type='text'
						ng-if='vm.searchTopics'
						ng-model='displayOption.searchTag.question'
						placeholder='Search question'>
				<input type="checkbox"
					   ng-model='vm.searchTopics'
					   ng-change='vm.clear()'>
					Search only in topics
			</div>
			<div class='flex-right'>
			<button>Search</button>
			</div>
		</div>
	</div>
</div>