<div class='navigation'>
	<div>
		<div class='back-button' ng-click='vm.goBack()'>
			<span class="glyphicon glyphicon-menu-left" style="" aria-hidden="true"></span>
		</div>
	</div>

	<div class='flex-middle' style="margin-left: 100px;">
		<div class='flex' style='align-items: center'>
			<div class='nav-header'>QUESTIONS</div>
			<div class='circle-nav active'>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</div>
			<div ng-if='type === "singleQuestion"' class='flex-right bold'>
				Last time discussed <strong style="font-size: 18px">{{data.lastUpdate | date:"yyyy-MM-dd HH:mm"}}</strong>
			</div>
			<div ng-if='type === "allQuestions"' class='flex-right'>
				<div class='search-in'>
					<span><input type='radio' ng-model='displayOption.searchFollow.follow' ng-value='true'> My shelf</span>
					<span><input type='radio' ng-model='displayOption.searchFollow.follow' ng-value=''> All questions</span>
				</div>
				<div class='sort-by'>
					Sort by: <span ng-class="(displayOption.orderPredicate === '-lastUpdate') ? 'active' : 'disactive'"
								   ng-click="displayOption.orderPredicate='-lastUpdate'">recent</span> or
					<span ng-class="(displayOption.orderPredicate === '-activities.length') ? 'active' : 'disactive'"
						  ng-click="displayOption.orderPredicate='-activities.length'">hot</span>
				</div>
			</div>
		</div>
		<div ng-if='type === "allQuestions"'
			 class='flex' style='align-items: center'>
			<div class='flex-middle search-box'
				 >
				<div>
					<input type='text'
						class='form-control'
						ng-if='!vm.searchTopics'
						ng-model='displayOption.searchTag'
						placeholder='Search'>
				</div>
				<div>
					<input type='text'
					   class='form-control'
						ng-if='vm.searchTopics'
						ng-model='displayOption.searchTag.question'
						placeholder='Search question'>
				</div>
			</div>
			<div class='flex-right'>
				<input type="checkbox"
					   ng-model='vm.searchTopics'
					   ng-change='vm.clear()'>
					Search only in topics
			</div>
		</div>
	</div>
</div>